* {
    box-sizing: border-box;
}

ul, li,p,h1,h2,h3 {
    list-style: none;
    padding: 0;
    margin: 0;
}

body {
    font-size: 12px;
    font-family: 微软雅黑, Arial, Helvetica, sans-serif;
    color: rgb(51, 51, 51);
}

body, html {
    width: 100%;
    height: 100%
}

a {
    color: #3D3D3D;
    text-decoration: none;
}

/*头部开始*/
.header {
    width: 100%;
    min-width: 1200px;
    height: 60px;
    background: #fff;
    position: fixed;
    top: 0;
    z-index: 9999;
}

.warp {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

.header .logo {
    width: 272px;
    height: 33px;
    float: left;
    position: absolute;
    left: 0;
    top: 12px;
    z-index: 2;
}

.header .nav {
    width: 1062px;
    height: 60px;
    line-height: 60px;
    position: absolute;
    right: 0;
}

.header .nav ul {
    padding-left: 438px;
}

.header .nav li {
    float: left;
    text-align: center;
}

.header .nav li a {
    display: block;
    padding: 0 25px;
    font-size: 14px;
}

/*头部结束*/
/*banner开始*/
.banner {
    width: 100%;
    min-width: 1200px;
    height: auto;
}

.banner img {
    display: block;
    width: 100%;
}

/*banner结束*/
/*内容开始*/
.xxx-nr {
    width: 1200px;
    padding-bottom: 125px;
    margin: 25px auto 0 auto;
    clear: both;
    overflow: hidden;
    position: relative;
}

.xxx-tit {
    width: 100%
}

.xxx-tit h3 {
    font-size: 25px;
    line-height: 35px;
    color: #000;
    font-weight: 100;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.xxx-tit ul {
    display: block;
    width: 100%;
    height: 41px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.xxx-tit ul li {
    float: left;
    font-size: 14px;
    line-height: 30px;
}

.xxx-tit ul li a {
    display: block;
    padding: 0 40px 0 0;
    color: #333
}

.xxx-tit ul li a:hover {
    font-weight: 800;
}

.xxx-arc {
    width: 100%;
    margin-top: 15px;
    font-size: 14px;
    line-height: 30px;
    color: #666;
    letter-spacing: 1px;
}

.xxx-arc-l {
    float: left;
    width: 250px;
    height: 250px;
}

.xxx-arc-l a img {
    width: 250px;
    height: 250px;
}

.xxx-arc-r {
    float: right;
    width: 915px;
    height: 250px;
}

.xxx-arc-r h3 {
    font-size: 28px;
    line-height: 45px;
    font-weight: 100;
    width: 100%;
    margin: 15px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.xxx-arc-r p {
    font-size: 14px;
    color: #777;
    line-height: 30px;
    letter-spacing: 1px;
}

.paging {
    background: #eee;
    width: 100%;
    height: 39px;
    overflow: hidden;
    text-align: center;
    padding-top: 9px;
    line-height: 21px;
    margin-top: 30px;
    background: #eee;
}

.paging span {
    border: #6b2d30 1px solid;
    padding: 1px 5px;
    font-weight: bold;
    color: #fff;
    background: #6b2d30;
    margin-right: 5px;
}

.paging a {
    border: #6b2d30 1px solid;
    padding: 1px 5px;
    color: #fff;
    margin-right: 5px;
    color: #333
}
.paging a:hover,.paging span:hover{
    background:#6b2d30 ;
    color:#fff;
    font-weight: bold;
}
/*内容结束*/
/*脚部开始*/
.foot {
    width: 100%;
    min-width: 1200px;
    height: 120px;
    background: #000;
    padding-top: 20px;
}

.foot-l {
    width: 50%;
    text-align: left;
    float: left;
}

.foot-l p, .foot-l p a {
    color: #fff;
    line-height: 25px;
}

.foot-r {
    width: 50%;
    text-align: right;
    float: right;
}

.foot-r li {
    float: right;
    height: 100px;
    position: relative;
    width: 95px;
    text-align: center;
    color: #ccc;
}

.foot-r li a {
    display: block;
    height: 55px;
    margin: 0 auto;
    width: 76px;
    position: relative;
}

.foot-r li a img {
    display: block;
    height: 40px;
    height: 40px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}

.foot-r li span {
    text-align: center;
    width: 100%;
    display: block;
}
/*脚部结束*/